USE [ProjectDBMS]
GO
/****** Object:  User [AdiaDavis_K01]    Script Date: 4/6/2022 4:13:17 PM ******/
CREATE USER [AdiaDavis_K01] FOR LOGIN [AdiaDavis_K01] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [PhucPham_K12]    Script Date: 4/6/2022 4:13:17 PM ******/
CREATE USER [PhucPham_K12] FOR LOGIN [PhucPham_K12] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SangNguyen_K07]    Script Date: 4/6/2022 4:13:17 PM ******/
CREATE USER [SangNguyen_K07] FOR LOGIN [SangNguyen_K07] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [PhucPham_K12]
GO
/****** Object:  UserDefinedFunction [dbo].[compare2Stalls_function]    Script Date: 4/6/2022 4:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     function [dbo].[compare2Stalls_function](@stall1 varchar(50), @stall2 varchar(50))
returns nvarchar(100)
as
begin
	declare @product1 int;
	declare @statement nvarchar(100);
	set @product1 = (select SUM(Quantity)
						from Stall	join Items on stall.Ordinal_Number=Items.Ordinal_Number
									join Order_statistics on Order_statistics.Item_Code=Items.Item_Code
						where Stall.Stall_Name = @stall1)

	declare @product2 int;
	set @product2= (select SUM(Quantity)
						from Stall	join Items on stall.Ordinal_Number=Items.Ordinal_Number
									join Order_statistics on Order_statistics.Item_Code=Items.Item_Code
						where Stall.Stall_Name = @stall2)
	if (@product1>@product2)
	begin
		set @statement= N'Stall '+@stall1+' sell better than ' +@stall2+' '+(@product1-@product2);
	end
	else if (@product1<@product2)
	begin
		set @statement =N'Stall '+@stall2+' sell better than ' +@stall1+' '+(@product2-@product1);
	end
	else
	begin
		set @statement =N'Stall '+@stall2+' sell equal to ' +@stall1+' '+(@product2-@product1);
	end
	return @statement;
end
GO
/****** Object:  UserDefinedFunction [dbo].[deliveriedOrNotDelieveriedOrder_function]    Script Date: 4/6/2022 4:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     FUNCTION [dbo].[deliveriedOrNotDelieveriedOrder_function] (@recptCode varchar(50))
returns varchar(100)
as
begin
	declare @dayNum int, @shipperName varchar(50), @dayTime date, @conclusion varchar(100)

	set @dayNum = datediff(day,getdate(),(select Ship_Date 
										from Delivery gh join Staff nv on nv.Staff_ID = gh.Shipper_ID 
										where @recptCode = Receipt_Code))

	set @shipperName = (select Staff_Name from Delivery gh join Receipt r on gh.Receipt_Code = r.Receipt_Code
														 join Staff nv on nv.Staff_ID = gh.Shipper_ID
										where @recptCode = r.Receipt_Code)
	
	set @dayTime = (select Ship_Date from Delivery where Receipt_Code = @recptCode)

	if (@dayNum < 0)
	begin
		set @conclusion = 'This order has already deliveried by ' + @shipperName + ' on ' + convert(varchar, @dayTime, 103)
	end
	else if (@dayNum = 0)
	begin
		set @conclusion = 'This order is being deliveried by ' + @shipperName + ' today' 
	end
	else if (@dayNum > 0)
	begin
		set @conclusion = 'This order will be deliveried by ' + @shipperName + ' on ' + convert(varchar, @dayTime, 103)
	end
	return @conclusion;
end
GO
/****** Object:  UserDefinedFunction [dbo].[forecus_function]    Script Date: 4/6/2022 4:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     function [dbo].[forecus_function] (@cusid nvarchar(50))
returns nvarchar(100)
as
begin
	declare @location nvarchar(50), @name nvarchar(50),@statement nvarchar(100);
	set @location = (select Location from Customer where @cusid=Customer.Customer_ID)
	set @name = (select Customer_name from Customer where @cusid=Customer.Customer_ID)
	if (@name is null) 
	begin
		set @statement= 'This Customer ID is non-exist'
	end
	if (@location like '%USA')
	begin
		set @statement= 'The customer with ID '+@cusid+' named '+@name+' living in '+@location+' and he/she is national customer.'
	end
	else if (@location not like '%USA')
	begin
		set @statement= 'The customer with ID '+@cusid+' named '+@name+' living in '+@location+' and he/she is foreign customer.'
	end		
	return @statement;
end
GO
/****** Object:  UserDefinedFunction [dbo].[foreignOrNationalStaff_function]    Script Date: 4/6/2022 4:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     function [dbo].[foreignOrNationalStaff_function] (@staffid nvarchar(50))
returns nvarchar(100)
as
begin
	declare @location nvarchar(50), @name nvarchar(50),@statement nvarchar(100);
	set @location = (select Hometown from Staff where @staffid=Staff.Staff_ID)
	set @name = (select Staff_Name from Staff where @staffid=Staff.Staff_ID)
	if (@name is null) 
	begin
		set @statement= 'This Staff ID is non-exist'
	end
	if (@location like '%USA')
	begin
		set @statement= 'The staff with ID '+@staffid+' is '+@name+' living in '+@location+' and is a national staff.'
	end
	else if (@location not like '%USA')
	begin
		set @statement= 'The staff with ID '+@staffid+' is '+@name+' living in '+@location+' and is a foreign staff.'
	end		
	return @statement;
end
GO
/****** Object:  UserDefinedFunction [dbo].[itmOriginalPrice_function]    Script Date: 4/6/2022 4:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     function [dbo].[itmOriginalPrice_function](@itemName varchar(50))
returns varchar(100)
as
begin
	declare @price float, @conclusion varchar(100), @item varchar(50)
	select @price = Original_Price, @item = Item_Name
	from Item_Management join Items on Item_Management.Item_Code = Items.Item_Code 
	where Item_Name like '%' + @itemName + '%'
	if @price is not null
	begin
		set @conclusion = 'The original price of ' + @item + ' is ' + cast(@price as  varchar) + '$'
	end
	else
	begin
		set @conclusion = 'This item is non-exist'
	end
	return @conclusion
end
GO
/****** Object:  UserDefinedFunction [dbo].[itmSellingPrice_function]    Script Date: 4/6/2022 4:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     function [dbo].[itmSellingPrice_function](@itemName varchar(50))
returns varchar(100)
as
begin
	declare @price float, @conclusion varchar(100), @item varchar(50);
	set @price = 0;
	select @price = Selling_Price, @item = Item_Name
	from Items 
	where Item_Name like '%' + @itemName + '%'
	if @price > 0
	begin
		set @conclusion = 'The selling price of ' + @item + ' is ' + cast(@price as varchar) + '$';
	end
	else if @price = 0
	begin
		set @conclusion = 'This item is non-exist';
	end

	return @conclusion
end
GO
/****** Object:  UserDefinedFunction [dbo].[nationalOrForeignOrder_function]    Script Date: 4/6/2022 4:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create     function [dbo].[nationalOrForeignOrder_function] (@reiptCode varchar(10))
returns nvarchar(100)
as
begin
	declare @cusName nvarchar(50),@loc nvarchar(50),@phone nvarchar(50),@statement nvarchar(100)
	set @cusName = (select Customer_Name from Customer c join Receipt r on c.Customer_ID = r.Customer_ID where @reiptCode = Receipt_Code)
	set @loc = (select Location from Customer c join Receipt r on c.Customer_ID = r.Customer_ID where @reiptCode = Receipt_Code)
	set @phone = (select Phone_Number from Customer c join Receipt r on c.Customer_ID = r.Customer_ID where @reiptCode = Receipt_Code)
	if(@loc like '%USA')
		set @statement= 'This is a national order which must be shipped to ' + @cusName + ' living in ' + @loc + ', use the phone number ' + @phone + ' to contact'
	else 
	begin
		set @statement='This is an international order which must be shipped to ' + @cusName + ' living in ' + @loc + ', use the phone number ' + @phone + ' to contact'
	end
	return @statement;
end
GO
/****** Object:  UserDefinedFunction [dbo].[nationalOrForeignSupplier_function]    Script Date: 4/6/2022 4:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     function [dbo].[nationalOrForeignSupplier_function](@suppName varchar(50))
returns varchar(100)
as
begin
	declare @concluse varchar(100), @loc varchar(50), @suppFullName varchar(50)
	set @loc = (select Location
				from Supplier 
				where Supplier_Name like '%' + @suppName + '%')

	set @suppFullName = (select Supplier_Name
						 from Supplier 
						 where Supplier_Name like '%' + @suppName + '%')
	
	if @loc is null
		set @concluse = 'This supplier is non-exist'
	else
	begin
		if @loc like '%USA'
			set @concluse = @suppFullName + ' is a national supplier'
		else
			set @concluse = @suppFullName + ' is a foreign supplier'
	end
	return @concluse
end
GO
/****** Object:  UserDefinedFunction [dbo].[sellerWorkingAtStall_function]    Script Date: 4/6/2022 4:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     function [dbo].[sellerWorkingAtStall_function] (@stallName varchar(50))
returns varchar(100)
as 
begin
	declare @sellerName varchar(50), @conclusion varchar(100)

	set @sellerName = (select Staff_Name 
					   from Staff join Stall on Staff.Staff_ID = Stall.Staff_ID
					   where Stall_Name = @stallName);
	
	if(@sellerName is not null)
	begin
		set @conclusion = 'Seller ' + @sellerName + ' works at ' + @stallName + ' stall';
	end
	else
	begin
		set @conclusion = 'This stall is non-exist';
	end

	return @conclusion;
end
GO
/****** Object:  Table [dbo].[Items]    Script Date: 4/6/2022 4:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[Item_Code] [nvarchar](50) NOT NULL,
	[Supplier_ID] [nvarchar](50) NOT NULL,
	[Item_Name] [nvarchar](50) NULL,
	[Selling_price] [float] NOT NULL,
	[Ordinal_Number_Of_Stall] [nvarchar](50) NOT NULL,
	[Import_Date] [date] NOT NULL,
	[Image] [varbinary](max) NOT NULL,
	[Available] [bit] NULL,
 CONSTRAINT [pk_mh] PRIMARY KEY CLUSTERED 
(
	[Item_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item_Management]    Script Date: 4/6/2022 4:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item_Management](
	[Item_Code] [nvarchar](50) NOT NULL,
	[Original_Price] [float] NOT NULL,
	[Quantity_In_Stock] [int] NOT NULL,
 CONSTRAINT [PK_Item_Management] PRIMARY KEY CLUSTERED 
(
	[Item_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[itemsPriceDifference_view]    Script Date: 4/6/2022 4:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create    view [dbo].[itemsPriceDifference_view] as
select Item_Name, Original_Price, Selling_price, (select Selling_price - Original_Price) as N'Price_Difference'
from Items mh join Item_Management mhdh on mh.Item_Code = mhdh.Item_Code
group by Item_Name, Original_Price, Selling_price
GO
/****** Object:  Table [dbo].[Stall]    Script Date: 4/6/2022 4:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stall](
	[Ordinal_Number] [nvarchar](50) NOT NULL,
	[Stall_Name] [nvarchar](50) NOT NULL,
	[Seller_ID] [nvarchar](50) NOT NULL,
 CONSTRAINT [pk_gh] PRIMARY KEY CLUSTERED 
(
	[Ordinal_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 4/6/2022 4:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[Supplier_ID] [nvarchar](50) NOT NULL,
	[Supplier_Name] [nvarchar](50) NOT NULL,
	[Location] [nvarchar](50) NOT NULL,
	[Phone_Number] [nvarchar](50) NOT NULL,
	[Image] [varbinary](max) NOT NULL,
 CONSTRAINT [pk_ncc] PRIMARY KEY CLUSTERED 
(
	[Supplier_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[cheapItems_view]    Script Date: 4/6/2022 4:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     view [dbo].[cheapItems_view] as
select Supplier_Name, Stall_Name, Item_Name, Selling_price, mh.Image
from Supplier ncc join Items mh on mh.Supplier_ID = ncc.Supplier_ID
				  join Stall gh on gh.Ordinal_Number = mh.Ordinal_Number_Of_Stall
where Selling_price < 500
GO
/****** Object:  Table [dbo].[Order_statistics]    Script Date: 4/6/2022 4:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_statistics](
	[Item_Code] [nvarchar](50) NOT NULL,
	[Receipt_Code] [nvarchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [pk_mhvdh] PRIMARY KEY CLUSTERED 
(
	[Item_Code] ASC,
	[Receipt_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[orderStatisticDecendingQuantity_view]    Script Date: 4/6/2022 4:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     view [dbo].[orderStatisticDecendingQuantity_view] as
select top 10000 * from Order_statistics order by Quantity desc
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 4/6/2022 4:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[Staff_ID] [nvarchar](50) NOT NULL,
	[Position] [nvarchar](20) NOT NULL,
	[Staff_Name] [nvarchar](50) NOT NULL,
	[Hometown] [nvarchar](50) NOT NULL,
	[Gender] [nvarchar](50) NOT NULL,
	[Image] [varbinary](max) NOT NULL,
 CONSTRAINT [pk_nv] PRIMARY KEY CLUSTERED 
(
	[Staff_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[infoSellersAtStalls_view]    Script Date: 4/6/2022 4:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     view [dbo].[infoSellersAtStalls_view] as
select Stall_Name, Seller_ID, Staff_Name as 'Seller_Name', Gender, Image
from Stall stl join Staff stf on stl.Seller_ID = stf.Staff_ID
group by Stall_Name, Seller_ID, Staff_Name, Gender, Image
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 4/6/2022 4:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Customer_ID] [nvarchar](50) NOT NULL,
	[Customer_Name] [nvarchar](50) NOT NULL,
	[Location] [nvarchar](50) NOT NULL,
	[Phone_Number] [nvarchar](50) NOT NULL,
	[Image] [varbinary](max) NOT NULL,
 CONSTRAINT [pk_kh] PRIMARY KEY CLUSTERED 
(
	[Customer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[nationalCustomers_view]    Script Date: 4/6/2022 4:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create     VIEW [dbo].[nationalCustomers_view] AS
SELECT Customer_ID, Customer_Name, Location, Phone_Number,Image FROM dbo.Customer 
WHERE Location LIKE '%USA'
GO
/****** Object:  Table [dbo].[Delivery]    Script Date: 4/6/2022 4:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Delivery](
	[Shipper_ID] [nvarchar](50) NOT NULL,
	[Receipt_Code] [nvarchar](50) NOT NULL,
	[Ship_Date] [date] NOT NULL,
 CONSTRAINT [pk_gih] PRIMARY KEY CLUSTERED 
(
	[Shipper_ID] ASC,
	[Receipt_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receipt]    Script Date: 4/6/2022 4:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receipt](
	[Receipt_Code] [nvarchar](50) NOT NULL,
	[Advisor_ID] [nvarchar](50) NOT NULL,
	[Customer_ID] [nvarchar](50) NOT NULL,
 CONSTRAINT [pk_hd] PRIMARY KEY CLUSTERED 
(
	[Receipt_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ordersNotDeliveried_view]    Script Date: 4/6/2022 4:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     VIEW [dbo].[ordersNotDeliveried_view] AS
SELECT d.Receipt_Code, Item_Name, Selling_price, Quantity, Staff_Name, Ship_Date, stf.Image as 'Staff Image', itm.Image as 'Item Image'
FROM Items itm join Order_statistics os on itm.Item_Code = os.Item_Code
			   join Delivery d on d.Receipt_Code = os.Receipt_Code
			   join Receipt r on d.Receipt_Code = r.Receipt_Code
			   join Staff stf on stf.Staff_ID = r.Advisor_ID
WHERE DATEDIFF(DAY,GETDATE(),Ship_Date)>0
GO
/****** Object:  View [dbo].[ordersDeliveried_view]    Script Date: 4/6/2022 4:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create     VIEW [dbo].[ordersDeliveried_view] AS
SELECT d.Receipt_Code, Item_Name, Selling_price, Quantity, Staff_Name, Ship_Date, stf.Image as 'Staff Image', itm.Image as 'Item Image'
FROM Items itm join Order_statistics os on itm.Item_Code = os.Item_Code
			   join Delivery d on d.Receipt_Code = os.Receipt_Code
			   join Receipt r on d.Receipt_Code = r.Receipt_Code
			   join Staff stf on stf.Staff_ID = r.Advisor_ID
WHERE DATEDIFF(DAY,GETDATE(),Ship_Date)<0
GO
/****** Object:  View [dbo].[nationalStaffs_view]    Script Date: 4/6/2022 4:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create     view [dbo].[nationalStaffs_view] as
select * from Staff
where Hometown LIKE '%USA'
GO
/****** Object:  View [dbo].[nationalSuppliers_view]    Script Date: 4/6/2022 4:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create     view [dbo].[nationalSuppliers_view] as
select * from Supplier
where Location LIKE '%USA'
GO
/****** Object:  View [dbo].[nationalOrders_view]    Script Date: 4/6/2022 4:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create     view [dbo].[nationalOrders_view] as
select Order_statistics.Receipt_Code,Customer.Customer_ID, Item_Name,Customer.Location,Ship_Date,items.Image
from Order_statistics	join Receipt on Order_statistics.Receipt_Code=Receipt.Receipt_Code
						join Customer on Receipt.Customer_ID=Customer.Customer_ID
						join Items on Order_statistics.Item_Code=Items.Item_Code
						join Delivery on Receipt.Receipt_Code=Delivery.Receipt_Code
where Location LIKE '%USA'
GO
/****** Object:  View [dbo].[foreignOrders_view]    Script Date: 4/6/2022 4:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create     view [dbo].[foreignOrders_view] as
select Item_Name,items.Image,Order_statistics.Receipt_Code,Customer.Customer_ID,Customer.Location,Ship_Date
from Order_statistics	join Receipt on Order_statistics.Receipt_Code=Receipt.Receipt_Code
						join Customer on Receipt.Customer_ID=Customer.Customer_ID
						join Items on Order_statistics.Item_Code=Items.Item_Code
						join Delivery on Receipt.Receipt_Code=Delivery.Receipt_Code
where Location not LIKE '%USA'
GO
/****** Object:  View [dbo].[foreignCustomers_view]    Script Date: 4/6/2022 4:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create     view [dbo].[foreignCustomers_view] as
select * from Customer
where Location not LIKE '%USA'
GO
/****** Object:  View [dbo].[foreignStaffs_view]    Script Date: 4/6/2022 4:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     view [dbo].[foreignStaffs_view] as
select * from Staff
where Hometown not LIKE '%USA'
GO
/****** Object:  View [dbo].[expensiveItems_view]    Script Date: 4/6/2022 4:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     view [dbo].[expensiveItems_view] as
select Supplier_Name, Stall_Name, Item_Name, Selling_price, mh.Image
from Supplier ncc join Items mh on mh.Supplier_ID = ncc.Supplier_ID
				  join Stall gh on gh.Ordinal_Number = mh.Ordinal_Number_Of_Stall
where Selling_price >= 500
GO
/****** Object:  View [dbo].[foreignSuppliers_view]    Script Date: 4/6/2022 4:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     view [dbo].[foreignSuppliers_view] as
select * from Supplier
where Location not LIKE '%USA'
GO
/****** Object:  View [dbo].[infoShipperAndItem_view]    Script Date: 4/6/2022 4:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     view [dbo].[infoShipperAndItem_view] as
select Shipper_ID, Staff_Name, stf.Image as 'Shipper Image', Item_Name, Quantity, Selling_price * Quantity as 'Total Price',itm.Image as 'Item Image'
from Staff stf join Delivery deli on stf.Staff_ID = deli.Shipper_ID
			   join Receipt rep on rep.Receipt_Code = deli.Receipt_Code
			   join Order_statistics ord on ord.Receipt_Code = rep.Receipt_Code
			   join Items itm on itm.Item_Code = ord.Item_Code
GO
/****** Object:  Table [dbo].[Anouncement]    Script Date: 4/6/2022 4:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Anouncement](
	[Request] [varchar](max) NULL,
	[Staff_ID] [varchar](50) NULL,
	[Request_type] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginManager]    Script Date: 4/6/2022 4:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginManager](
	[UserAccount] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[ID] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LoginManager] PRIMARY KEY CLUSTERED 
(
	[UserAccount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginStaff]    Script Date: 4/6/2022 4:13:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginStaff](
	[UserAccount] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[ID] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoginStaff] PRIMARY KEY CLUSTERED 
(
	[UserAccount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Delivery] ([Shipper_ID], [Receipt_Code], [Ship_Date]) VALUES (N'K01', N'L01', CAST(N'2021-06-23' AS Date))
INSERT [dbo].[Delivery] ([Shipper_ID], [Receipt_Code], [Ship_Date]) VALUES (N'K01', N'L02', CAST(N'2021-01-01' AS Date))
INSERT [dbo].[Delivery] ([Shipper_ID], [Receipt_Code], [Ship_Date]) VALUES (N'K01', N'L10', CAST(N'2021-02-11' AS Date))
GO
INSERT [dbo].[Item_Management] ([Item_Code], [Original_Price], [Quantity_In_Stock]) VALUES (N'Q01', 90, 100)
INSERT [dbo].[Item_Management] ([Item_Code], [Original_Price], [Quantity_In_Stock]) VALUES (N'Q02', 55, 20)
INSERT [dbo].[Item_Management] ([Item_Code], [Original_Price], [Quantity_In_Stock]) VALUES (N'Q03', 150, 15)
GO
INSERT [dbo].[LoginManager] ([UserAccount], [password], [ID]) VALUES (N'PhucPham_K12', N'123', N'K12')
GO
INSERT [dbo].[LoginStaff] ([UserAccount], [password], [ID]) VALUES (N'AdiaDavis_K01', N'123', N'K01')
INSERT [dbo].[LoginStaff] ([UserAccount], [password], [ID]) VALUES (N'SangNguyen_K07', N'123', N'K07')
GO
INSERT [dbo].[Order_statistics] ([Item_Code], [Receipt_Code], [Quantity]) VALUES (N'Q01', N'L01', 1)
INSERT [dbo].[Order_statistics] ([Item_Code], [Receipt_Code], [Quantity]) VALUES (N'Q01', N'L05', 7)
INSERT [dbo].[Order_statistics] ([Item_Code], [Receipt_Code], [Quantity]) VALUES (N'Q02', N'L02', 3)
GO
INSERT [dbo].[Receipt] ([Receipt_Code], [Advisor_ID], [Customer_ID]) VALUES (N'L01', N'K07', N'F01')
INSERT [dbo].[Receipt] ([Receipt_Code], [Advisor_ID], [Customer_ID]) VALUES (N'L02', N'K09', N'F03')
INSERT [dbo].[Receipt] ([Receipt_Code], [Advisor_ID], [Customer_ID]) VALUES (N'L03', N'K08', N'F02')
GO
INSERT [dbo].[Stall] ([Ordinal_Number], [Stall_Name], [Seller_ID]) VALUES (N'1', N'Houseware', N'K04')
INSERT [dbo].[Stall] ([Ordinal_Number], [Stall_Name], [Seller_ID]) VALUES (N'2', N'Food', N'K05')
INSERT [dbo].[Stall] ([Ordinal_Number], [Stall_Name], [Seller_ID]) VALUES (N'3', N'Electrical Equipemnts', N'K04')
GO
ALTER TABLE [dbo].[Delivery]  WITH CHECK ADD  CONSTRAINT [fk_mdh_gh] FOREIGN KEY([Receipt_Code])
REFERENCES [dbo].[Receipt] ([Receipt_Code])
GO
ALTER TABLE [dbo].[Delivery] CHECK CONSTRAINT [fk_mdh_gh]
GO
ALTER TABLE [dbo].[Delivery]  WITH CHECK ADD  CONSTRAINT [fk_mnv_ship] FOREIGN KEY([Shipper_ID])
REFERENCES [dbo].[Staff] ([Staff_ID])
GO
ALTER TABLE [dbo].[Delivery] CHECK CONSTRAINT [fk_mnv_ship]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [fk_itmManagement_items] FOREIGN KEY([Item_Code])
REFERENCES [dbo].[Item_Management] ([Item_Code])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [fk_itmManagement_items]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [fk_ncc_mh] FOREIGN KEY([Supplier_ID])
REFERENCES [dbo].[Supplier] ([Supplier_ID])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [fk_ncc_mh]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [fk_stt_mh] FOREIGN KEY([Ordinal_Number_Of_Stall])
REFERENCES [dbo].[Stall] ([Ordinal_Number])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [fk_stt_mh]
GO
ALTER TABLE [dbo].[LoginManager]  WITH CHECK ADD  CONSTRAINT [fk_manager_login] FOREIGN KEY([ID])
REFERENCES [dbo].[Staff] ([Staff_ID])
GO
ALTER TABLE [dbo].[LoginManager] CHECK CONSTRAINT [fk_manager_login]
GO
ALTER TABLE [dbo].[LoginStaff]  WITH CHECK ADD  CONSTRAINT [fk_staff_login] FOREIGN KEY([ID])
REFERENCES [dbo].[Staff] ([Staff_ID])
GO
ALTER TABLE [dbo].[LoginStaff] CHECK CONSTRAINT [fk_staff_login]
GO
ALTER TABLE [dbo].[Order_statistics]  WITH CHECK ADD  CONSTRAINT [fk_mdh_mhvdh] FOREIGN KEY([Receipt_Code])
REFERENCES [dbo].[Receipt] ([Receipt_Code])
GO
ALTER TABLE [dbo].[Order_statistics] CHECK CONSTRAINT [fk_mdh_mhvdh]
GO
ALTER TABLE [dbo].[Order_statistics]  WITH CHECK ADD  CONSTRAINT [fk_mmh_mhvdh] FOREIGN KEY([Item_Code])
REFERENCES [dbo].[Items] ([Item_Code])
GO
ALTER TABLE [dbo].[Order_statistics] CHECK CONSTRAINT [fk_mmh_mhvdh]
GO
ALTER TABLE [dbo].[Receipt]  WITH CHECK ADD  CONSTRAINT [fk_mkh_hd] FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[Customer] ([Customer_ID])
GO
ALTER TABLE [dbo].[Receipt] CHECK CONSTRAINT [fk_mkh_hd]
GO
ALTER TABLE [dbo].[Receipt]  WITH CHECK ADD  CONSTRAINT [fk_mnv_hd] FOREIGN KEY([Advisor_ID])
REFERENCES [dbo].[Staff] ([Staff_ID])
GO
ALTER TABLE [dbo].[Receipt] CHECK CONSTRAINT [fk_mnv_hd]
GO
ALTER TABLE [dbo].[Stall]  WITH CHECK ADD  CONSTRAINT [fk_mnv_gh] FOREIGN KEY([Seller_ID])
REFERENCES [dbo].[Staff] ([Staff_ID])
GO
ALTER TABLE [dbo].[Stall] CHECK CONSTRAINT [fk_mnv_gh]
GO
/****** Object:  StoredProcedure [dbo].[boughtItmsBasingOnCusName_proc]    Script Date: 4/6/2022 4:13:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create     proc [dbo].[boughtItmsBasingOnCusName_proc] @cusName varchar(50)
as
begin
	select c.Customer_ID, c.Location, c.Phone_Number, Stall_Name, sp.Supplier_Name, Item_Name, Selling_Price, Quantity
	from Customer c join Receipt r on c.Customer_ID = r.Customer_ID
					join Delivery d on d.Receipt_Code = r.Receipt_Code
					join Order_statistics os on os.Receipt_Code = d.Receipt_Code
					join Items i on i.Item_Code = os.Item_Code
					join Supplier sp on sp.Supplier_ID = i.Supplier_ID
					join Stall st on st.Ordinal_Number = i.Ordinal_Number_Of_Stall
	where @cusName = Customer_Name
end
--exec boughtItmsBasingOnCusName_proc 'John Cena'
GO
/****** Object:  StoredProcedure [dbo].[checkSellerAtStall_proc]    Script Date: 4/6/2022 4:13:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     proc [dbo].[checkSellerAtStall_proc]@stallName varchar(50), @sellerName varchar(50) out
as
begin 
	
	set @sellerName = (select Staff_Name
					   from Staff s join Stall st on s.Staff_ID = st.Seller_ID
					   where Stall_Name = @stallName)
end
GO
/****** Object:  StoredProcedure [dbo].[createNewManagerLogin_proc]    Script Date: 4/6/2022 4:13:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[createNewManagerLogin_proc] (
        @login varchar(100),
        @password varchar(100))
as
declare @sql nvarchar(max)
set @sql = 'create login ' + @login + ' with password = ''' + @password + ''', 
			default_database = master,
			default_language = us_english,
			check_expiration = off,
			check_policy = off
			 alter server role sysadmin add member ' + @login +
			' alter server role securityadmin add member ' + @login +
			' alter server role serveradmin add member ' + @login +
			' alter server role setupadmin add member ' + @login +
			' alter server role processadmin add member ' + @login +
			' alter server role diskadmin add member ' + @login +
			' alter server role dbcreator add member ' + @login +
			' alter server role bulkadmin add member ' + @login 
exec (@sql)
GO
/****** Object:  StoredProcedure [dbo].[createNewStaffLogin_proc]    Script Date: 4/6/2022 4:13:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[createNewStaffLogin_proc] (
        @login varchar(100),
        @password varchar(100))
as
declare @sql nvarchar(max)
set @sql = 'create login ' + @login + ' with password = ''' + @password + ''', 
			default_database = master,
			default_language = us_english,
			check_expiration = off,
			check_policy = off'
exec (@sql)
GO
/****** Object:  StoredProcedure [dbo].[createNewUser_proc]    Script Date: 4/6/2022 4:13:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[createNewUser_proc] @login varchar(50)
as
begin
	declare @sql varchar(max)
	set @sql = 'create user ' + @login + ' for login ' + @login
	exec (@sql)
end
GO
/****** Object:  StoredProcedure [dbo].[cusInfoAndConsIDBasingOnItemName_proc]    Script Date: 4/6/2022 4:13:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     proc [dbo].[cusInfoAndConsIDBasingOnItemName_proc] @itemName nvarchar(30) 
as
begin
	select c.Customer_ID, Customer_Name, Staff_Name as 'Advisor_Name', Position
	from Customer c join Receipt r on r.Customer_ID = c.Customer_ID
					join Delivery d on d.Receipt_Code = r.Receipt_Code
					join Staff stf on stf.Staff_ID = r.Advisor_ID
					join Order_statistics os on os.Receipt_Code = d.Receipt_Code
					join Items i on i.Item_Code = os.Item_Code	
	where @itemName = Item_Name		   
end
execute [cusInfoAndConsIDBasingOnItemName_proc] 'Electric Drill'
GO
/****** Object:  StoredProcedure [dbo].[cusInfoBaseOnReceiptCode_proc]    Script Date: 4/6/2022 4:13:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     proc [dbo].[cusInfoBaseOnReceiptCode_proc] @repCode varchar(50)
as
begin
	select Receipt_Code, rep.Customer_ID, Customer_Name, Location, Phone_Number, Image
	from Receipt rep join Customer cus on rep.Customer_ID = cus.Customer_ID
	where Receipt_Code = @repCode
end
GO
/****** Object:  StoredProcedure [dbo].[cusInfoBasingOnCusID_proc]    Script Date: 4/6/2022 4:13:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     proc [dbo].[cusInfoBasingOnCusID_proc] @cusid nvarchar(50)
as
begin
	select * from Customer where Customer_ID = @cusid
end
GO
/****** Object:  StoredProcedure [dbo].[deleteLogin_proc]    Script Date: 4/6/2022 4:13:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[deleteLogin_proc] @login varchar(50)
as
begin
	declare @sql varchar(max)
	set @sql = 'drop login ' + @login
	exec (@sql)
end
GO
/****** Object:  StoredProcedure [dbo].[deleteOneRowInLoginManager_proc]    Script Date: 4/6/2022 4:13:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[deleteOneRowInLoginManager_proc] @user varchar(50)
as
begin
	declare @sql varchar(max)
	set @sql = 'delete from LoginManager where UserAccount = ''' + @user + ''''
	exec (@sql)
end
GO
/****** Object:  StoredProcedure [dbo].[deleteOneRowInLoginStaff_proc]    Script Date: 4/6/2022 4:13:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[deleteOneRowInLoginStaff_proc] @user varchar(50)
as
begin
	declare @sql varchar(max)
	set @sql = 'delete from LoginStaff where UserAccount = ' + @user
	exec (@sql)
end
GO
/****** Object:  StoredProcedure [dbo].[deleteUser_proc]    Script Date: 4/6/2022 4:13:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[deleteUser_proc] @user varchar(50)
as
begin
	declare @sql varchar(max)
	set @sql = 'drop user ' + @user
	exec (@sql)
end
GO
/****** Object:  StoredProcedure [dbo].[grantExecuteToStaffLogin_proc]    Script Date: 4/6/2022 4:13:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc[dbo].[grantExecuteToStaffLogin_proc] @user varchar(50)
as
begin
	declare @sql varchar(max)
	set @sql = 'grant execute to ' + @user
	exec (@sql)
end
GO
/****** Object:  StoredProcedure [dbo].[grantSelectToStaffLogin_proc]    Script Date: 4/6/2022 4:13:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc[dbo].[grantSelectToStaffLogin_proc] @user varchar(50)
as
begin
	declare @sql varchar(max)
	set @sql = 'grant select to ' + @user
	exec (@sql)
end
GO
/****** Object:  StoredProcedure [dbo].[itemInfoBaseOnItemCode_proc]    Script Date: 4/6/2022 4:13:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[itemInfoBaseOnItemCode_proc] @itmCode varchar(50)
as
begin
	select *
	from Items 
	where Item_Code = @itmCode
end
GO
/****** Object:  StoredProcedure [dbo].[itemInfoBaseOnItemName_proc]    Script Date: 4/6/2022 4:13:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   proc [dbo].[itemInfoBaseOnItemName_proc] @itmName varchar(50)
as
begin
	select Item_Code, Supplier_ID, Item_Name, Selling_price, Ordinal_Number_Of_Stall, Import_Date, Image
	from Items 
	where Item_Name like '%' + @itmName + '%'
end
GO
/****** Object:  StoredProcedure [dbo].[itemInfoBaseOnSuppName_proc]    Script Date: 4/6/2022 4:13:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     proc [dbo].[itemInfoBaseOnSuppName_proc] @suppName varchar(50)
as 
begin
	select Supplier_Name, Stall_Name, Item_Code, Item_Name, Selling_Price, i.Image
	from Supplier s join Items i on s.Supplier_ID = i.Supplier_ID
					join Stall st on st.Ordinal_Number = i.Ordinal_Number_Of_Stall
	where Supplier_Name like '%'+@suppName+'%'
end
GO
/****** Object:  StoredProcedure [dbo].[itemInfoBasingOnRecptCode_proc]    Script Date: 4/6/2022 4:13:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     proc [dbo].[itemInfoBasingOnRecptCode_proc] @receiptcode nvarchar(50) as
begin
	select itm.Item_Code, Item_Name, sup.Supplier_ID, Selling_price, itm.Import_Date , itm.Image
	from Order_statistics os join Items itm on itm.Item_Code = os.Item_Code
							 join Supplier sup on itm.Supplier_ID = sup.Supplier_ID
	where os.Receipt_Code = @receiptcode
end
GO
/****** Object:  StoredProcedure [dbo].[itemsAtStall_proc]    Script Date: 4/6/2022 4:13:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     proc [dbo].[itemsAtStall_proc] @stallName varchar(50)
as
begin
	select Supplier_Name, Item_Name, Selling_price, i.Image
	from Stall st join Items i on i.Ordinal_Number_Of_Stall = st.Ordinal_Number
				  join Supplier s on s.Supplier_ID = i.Supplier_ID
	where Stall_Name = @stallName
end
GO
/****** Object:  StoredProcedure [dbo].[itmQuantityAndTotalMoney_proc]    Script Date: 4/6/2022 4:13:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     proc [dbo].[itmQuantityAndTotalMoney_proc] @repCode varchar(10), @total int out
as
begin
	select ord.Receipt_Code, Item_Name, Quantity, Quantity * Selling_price as 'Total_Price', Image
	from Order_statistics ord join Items itm on ord.Item_Code = itm.Item_Code
	where Receipt_Code = @repCode

	set @total = (select sum(Quantity * Selling_price) 
				  from Order_statistics ord join Items itm on ord.Item_Code = itm.Item_Code
				  where Receipt_Code = @repCode)
end
GO
/****** Object:  StoredProcedure [dbo].[managerInfoUsingIDInLoginManager_proc]    Script Date: 4/6/2022 4:13:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[managerInfoUsingIDInLoginManager_proc] @user varchar(50)
as
begin
	select * 
	from Staff join LoginManager on Staff.Staff_ID = LoginManager.ID
	where LoginManager.UserAccount = @user
end
GO
/****** Object:  StoredProcedure [dbo].[managerInfoUsingIDInLoginStaff_proc]    Script Date: 4/6/2022 4:13:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--26.take information of staff via ID in LoginStaff
create   proc [dbo].[managerInfoUsingIDInLoginStaff_proc] @user varchar(50)
as
begin
	select * 
	from Staff join LoginStaff on Staff.Staff_ID = LoginStaff.ID
	where LoginStaff.UserAccount = @user
end
GO
/****** Object:  StoredProcedure [dbo].[ordersDeliveriedInPeriodOfTime_proc]    Script Date: 4/6/2022 4:13:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     proc [dbo].[ordersDeliveriedInPeriodOfTime_proc] @date1 date, @date2 date
as 
begin
	select Ship_Date, Shipper_ID, Staff_Name, stf.Image as 'Shipper Image', Item_Name, Quantity, Selling_price * Quantity as 'Total Price',itm.Image as 'Item Image'
	from Staff stf join Delivery deli on stf.Staff_ID = deli.Shipper_ID
				   join Receipt rep on rep.Receipt_Code = deli.Receipt_Code
				   join Order_statistics ord on ord.Receipt_Code = rep.Receipt_Code
				   join Items itm on itm.Item_Code = ord.Item_Code
	where Ship_Date > @date1 and Ship_Date < @date2
end
GO
/****** Object:  StoredProcedure [dbo].[staffInfoUsingIDInLoginStaff_proc]    Script Date: 4/6/2022 4:13:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[staffInfoUsingIDInLoginStaff_proc] @user varchar(50)
as
begin
	select * 
	from Staff join LoginStaff on Staff.Staff_ID = LoginStaff.ID
	where LoginStaff.UserAccount = @user
end
GO
/****** Object:  StoredProcedure [dbo].[staffsWorkInPos_proc]    Script Date: 4/6/2022 4:13:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     proc [dbo].[staffsWorkInPos_proc] @pos varchar(50)
as
begin
	select * from Staff where Position = @pos
end
GO
/****** Object:  StoredProcedure [dbo].[stallInfoBasingOnOrdNum_proc]    Script Date: 4/6/2022 4:13:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[stallInfoBasingOnOrdNum_proc] @ord varchar(50)
as
begin
	select * from Stall where Ordinal_Number = @ord
end
GO
/****** Object:  StoredProcedure [dbo].[stallInfoBasingOnStallName_proc]    Script Date: 4/6/2022 4:13:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     proc [dbo].[stallInfoBasingOnStallName_proc] @stallName varchar(50)
as
begin
	select * from Stall where Stall_Name = @stallName
end
GO
/****** Object:  StoredProcedure [dbo].[stfInfoBasingOnStfID_proc]    Script Date: 4/6/2022 4:13:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     proc [dbo].[stfInfoBasingOnStfID_proc] @mnv nvarchar(50)
as
begin
	select * from Staff where Staff_ID = @mnv
end
GO
/****** Object:  StoredProcedure [dbo].[suppInfoBasingOnSuppID_proc]    Script Date: 4/6/2022 4:13:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     proc [dbo].[suppInfoBasingOnSuppID_proc] @supID varchar(50)
as
begin
	select Supplier_ID, Supplier_Name, Location, Phone_Number, Image from Supplier where Supplier_ID = @supID
end
GO
/****** Object:  StoredProcedure [dbo].[top3BestSelling_proc]    Script Date: 4/6/2022 4:13:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     proc [dbo].[top3BestSelling_proc]

as
begin
	select top(3) Stall_Name, Item_Name, Selling_price, Quantity, mh.Image
	from Order_statistics mhdh join Items mh on mh.Item_Code = mhdh.Item_Code
							   join Stall gh on gh.Ordinal_Number = mh.Ordinal_Number_Of_Stall
	order by Quantity desc
end
GO
/****** Object:  Trigger [dbo].[cus_phone_number_trigger]    Script Date: 4/6/2022 4:13:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     trigger [dbo].[cus_phone_number_trigger] 
on [dbo].[Customer]
for insert, update
as
declare @count int
select @count = (select len(kh.Phone_Number))
from Customer kh, inserted ins 
where kh.Phone_Number = ins.Phone_Number 
if @count < 10 
	begin
		rollback tran
		print N'Phone number of customer must contain 10 digits'
	end
else print 'Success !!'

GO
ALTER TABLE [dbo].[Customer] ENABLE TRIGGER [cus_phone_number_trigger]
GO
/****** Object:  Trigger [dbo].[importdate_and_shipdate_trigger]    Script Date: 4/6/2022 4:13:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     trigger [dbo].[importdate_and_shipdate_trigger]
on [dbo].[Delivery]
for insert, update
as
declare @Ship_Date date, @Import_Date date
select @Ship_Date = ins.Ship_Date, @Import_Date = i.Import_Date
from Delivery d, inserted ins join Order_statistics os on ins.Receipt_Code = os.Receipt_Code
							  join Items i on i.Item_Code = os.Item_Code
where ins.Ship_Date = d.Ship_Date
if datediff(day, @Import_Date, @Ship_Date) <= 15 and @Import_Date < @Ship_Date
	print 'Success !!'
else 
	begin
		rollback tran
		print 'Ship date must be after import date 15 days at most' 
	end

GO
ALTER TABLE [dbo].[Delivery] ENABLE TRIGGER [importdate_and_shipdate_trigger]
GO
/****** Object:  Trigger [dbo].[oneShipper_oneReceipt_trigger]    Script Date: 4/6/2022 4:13:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     trigger [dbo].[oneShipper_oneReceipt_trigger]
on [dbo].[Delivery]
for insert, update
as
begin
	declare @rep varchar(50)
	set @rep = (select Receipt_Code
				from Delivery
				group by Receipt_Code
				having count(Receipt_Code) > 1)
	if @rep is not null
	begin
		print 'One Receipt can be deliveried by one Shipper only'
	end
end
GO
ALTER TABLE [dbo].[Delivery] ENABLE TRIGGER [oneShipper_oneReceipt_trigger]
GO
/****** Object:  Trigger [dbo].[original_price_trigger]    Script Date: 4/6/2022 4:13:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     trigger [dbo].[original_price_trigger]
on [dbo].[Item_Management] 
for insert, update
as
begin
	declare @or float
	select @or = ins.Original_price
	from Item_Management os, inserted ins
	where ins.Original_price = os.Original_price
	if @or = 0
	begin
		rollback tran
		print 'Original price must be higher than 0'
	end
end
GO
ALTER TABLE [dbo].[Item_Management] ENABLE TRIGGER [original_price_trigger]
GO
/****** Object:  Trigger [dbo].[item_available_trigger]    Script Date: 4/6/2022 4:13:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   trigger [dbo].[item_available_trigger]
on [dbo].[Items]
for insert, update
as
begin
	declare @avai bit, @quantity int, @itemCode nvarchar(50)
	
	select @avai = itm.Available, @quantity = itmMan.Quantity_In_Stock
	from Items itm, inserted ins, Item_Management itmMan
	where itm.Available = ins.Available and itmMan.Item_Code = ins.Item_Code
	if (@quantity = 0 and @avai = 1)
	begin
		rollback tran
		print 'Can not set Available value is True while the Quantity in Stock is 0'
	end
	else if(@quantity > 0 and @avai = 0)
	begin
		rollback tran
		print 'Can not set Available value is False while the Quantity in Stock is not 0'
	end
end
GO
ALTER TABLE [dbo].[Items] ENABLE TRIGGER [item_available_trigger]
GO
/****** Object:  Trigger [dbo].[selling_price_trigger]    Script Date: 4/6/2022 4:13:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--6.giá bán phải lớn hơn 0
create     trigger [dbo].[selling_price_trigger]
on [dbo].[Items] 
for insert, update
as
begin
	declare @sell float
	select @sell = ins.Selling_Price
	from Items i, inserted ins
	where ins.Selling_Price = i.Selling_Price
	if @sell = 0
	begin
		rollback tran
		print 'Selling price must be higher than 0'
	end
end
GO
ALTER TABLE [dbo].[Items] ENABLE TRIGGER [selling_price_trigger]
GO
/****** Object:  Trigger [dbo].[sellingprice_and_orgprice_trigger]    Script Date: 4/6/2022 4:13:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     TRIGGER [dbo].[sellingprice_and_orgprice_trigger]
ON [dbo].[Items]
FOR INSERT,UPDATE
AS
BEGIN
	declare @orgPrice float, @sellPrice float
	select @sellPrice = ins.Selling_price, @orgPrice = Item_Management.Original_Price
	from Item_Management , inserted ins join Items on Items.Item_Code = ins.Item_Code
	where ins.Selling_price = Item_Management.Original_Price
	if @orgPrice > @sellPrice
	begin
		rollback tran
		print 'Selling price must be higher than original price'
	end
END
GO
ALTER TABLE [dbo].[Items] ENABLE TRIGGER [sellingprice_and_orgprice_trigger]
GO
/****** Object:  Trigger [dbo].[quantity_trigger]    Script Date: 4/6/2022 4:13:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     trigger [dbo].[quantity_trigger]
on [dbo].[Order_statistics]
for insert, update
as
declare @sl int
select @sl = a.Quantity
from Order_statistics a, inserted b
where a.Quantity = b.Quantity
if @sl = 0
	begin
		rollback tran
		print N'The quantity of order must bigger than 0'
	end
else print 'Success !!'
GO
ALTER TABLE [dbo].[Order_statistics] ENABLE TRIGGER [quantity_trigger]
GO
/****** Object:  Trigger [dbo].[supp_phone_number_trigger]    Script Date: 4/6/2022 4:13:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     trigger [dbo].[supp_phone_number_trigger] 
on [dbo].[Supplier]
for insert, update
as
declare @count int
select @count = (select len(ncc.Phone_Number))
from Supplier ncc, inserted ins 
where ncc.Phone_Number = ins.Phone_Number 
if @count < 10
	begin
		rollback tran
		print N'Phone number of suppliers must contain 10 digits'
	end
else print 'Success !!'
GO
ALTER TABLE [dbo].[Supplier] ENABLE TRIGGER [supp_phone_number_trigger]
GO
